.DS_Store
csharp/aerospike-helper/aerospike-helper/bin
csharp/aerospike-helper/aerospike-helper/obj
csharp/aerospike-helper/packages/NeoLua.0.9.14
csharp/aerospike-helper/packages/Aerospike.Client.3.1.6
.cache-main
.cache-tests
csharp/AerospikeHelper/AerospikeHelper/bin/Debug
csharp/AerospikeHelper/AerospikeHelper/obj
csharp/AerospikeHelper/packages/Aerospike.Client.3.1.7/lib
csharp/AerospikeHelper/packages/NeoLua.0.9.14/lib
csharp/AerospikeHelper/packages
csharp/AerospikeHelper/Aerospike.Helper.Tests/bin
csharp/AerospikeHelper/Aerospike.Helper.Tests/obj
csharp/AerospikeHelper/Driver/bin/Debug
csharp/AerospikeHelper/Driver/obj
