<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aerospike.Client" version="3.2.1" targetFramework="net45" />
  <package id="Es.Logging" version="0.0.4" targetFramework="net45" />
  <package id="Es.Logging.Log4" version="0.0.4" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="NeoLua" version="1.2.5" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>